<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    {% include "fragmants/head.html" %}

    <script
      src="/static/js/build/routes/dashboard/dashboard.js"
      type="module"
    ></script>

    <title>Dashboard</title>
  </head>
  <body>
    {% include "fragmants/navbar.html" %}
    <main class="p-8 md:p-16 grid gap-8">
      <p>
        <a class="text-primary underline" href="/login">Login</a>
      </p>
      <p>
        <a class="text-primary underline" href="/register">Register</a>
      </p>
      <p>
        <a class="text-primary underline" href="/dashboard">Dashboard</a>
      </p>
    </main>
    {% include "fragmants/footer.html" %}
  </body>
</html>
